<!DOCTYPE html>
<html>
<head>
<title><%-blocks.title%></title>
<%-scripts%>
<%-stylesheets%>
</head>
<body>
<header>
<section>
<nav class="navbar navbar-default" role="navigation">
<ul class="nav navbar=nav"
<li><a href='/'>HOME</a></li>
<li><a href="/login">LOGIN</a></li>
</ul>
</nav>
</section>
</header>
<section>
<%-blocks.info -%>
</section>
<section>
<%-body -%>
</section>
<footer>
<%-blocks.footer%>
</footer>
</body>
</html>